.titulo{
    color: #CD853F !important;
    font-weight: bold !important;
    font-size: 250% !important;
}

.titulo1{
    font-size: 100% !important;

}

.botao{
    border-color: #CD853F !important;
    background-color:#f3f1c5 !important;
    color: #CD853F !important;
    font-weight: bold !important;

}

.postagens{
    background-color: #f3f1c5 !important;
}

.caixa{
    background-color: #f3f1c5 !important;
}