.titulo{
    color: rgba(221, 111, 22, 0.853) !important;
    font-weight: bold !important;
    font-size: 250% !important;
}

.titulo1{
    font-size: 100% !important;;
}

.botao{
    border-color: orange !important;
    background-color:#F5DEB3 !important;
    color: white !important;
}

.postagens{
    background-color: white !important;
}