.box1{
    background-color: #CD853F !important;
}

.box2{
    background-color: #F5DEB3 !important;
    height: 60px;
}

.redeSocial{
    font-size: 60px !important;
    color: #F5DEB3 !important;
}

.textoFooter{
    color: white !important;
}